<div class="container" xmlns="http://www.w3.org/1999/html">
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    <label for="username" >Usuario</label>
                    <input class="form-control" type="text"  name="username">
                </div>
            </div>
        </div>
        </br>
        <div class="row">
            <div class="col-md-4 col-md-offset-3">
                <div class="form-group">
                    <label for="password">Clave</label>
                    <input class="form-control" type="password" name="password">
                </div>
            </div>
        </div>
        </br>
         <div class="row">
            <div class="col-md-4 col-md-offset-3">
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" name="Ingresar">
                </div>
            </div>
        </div>
    </form>
</div>
<style>

body {
  background: white;
    text-align: center;
}

</style>