{% extends 'base.html' %}

{% load static %}

{% block title %}Propietarios{% endblock %}
{% block content%}
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Cedula de Ciudadania</td>
                <td>Nombre</td>
            </tr>
        </thead>
        <tbody>


                {% if object_list %}

                    {% for propietario in object_list %}
                        <tr>
                            <td>{{ propietario.cedula_ciudadania}}</td>
                            <td>{{ propietario.nombre}}</td>
                            <td>
                                <a class="btn btn-primary" href="{%url 'propietario:propietario_editar' pk=propietario.cedula_ciudadania %}">Editar</a>
                                <a class="btn btn-danger" href="{%url 'propietario:propietario_eliminar' pk=propietario.cedula_ciudadania %}">Eliminar</a>
                            </td>
                        </tr>
                    {%endfor%}
                {%else%}
                    <form method="get">
                {{ filter.form.as_p }}
                <button type="submit">Search</button>
            </form>
          <ul>
              {% for propìetario in filter.qs %}
                <li>{{ propietario.cedula_ciudadania}} - {{ propietario.nombre }}</li>
              {% endfor %}
          </ul>
                {% endif %}
        </tbody>
    </table>
{% endblock%}