{% extends 'base.html' %}

{% block content%}
<form method ="post">
    {%csrf_token%}
    <h3>Desea eliminar el registro de {{ predio.matricula_inmobiliaria }}?</h3>
    <button class="btm btn-danger" type="submit" > Si, eliminar</button>
    <a class="btn btn-default" href="{% url 'predio:predio_listar' %}" ></a>
</form>
{% endblock%}