{% extends 'base.html' %}
{% load static %}
{% block content %}
    <form method ="post">
        {% csrf_token %}

        {{ form.as_p}}
        <button type="submit">Guardar</button>
    </form>
     <script src="{% static 'js/formpredio.js' %}"></script>
{% endblock %}

<style>
body {
  background: white;
    text-align: center;
}
</style>