{% extends 'base.html'%}
{% block content%}

<table class="table table-bordered">
    <thead>
        <tr>
            <td>matricula inmobiliaria</td>
            <td>cedula catastral</td>
            <td>tipo</td>
            <td>direccion predio</td>
            <td>nombre predio</td>
            <td>Modificar</td>
        </tr>
    </thead>
    <tbody>
        {% if object_list %}
            {% for predio in object_list %}
            <tr>
                <td>{{predio.matricula_inmobiliaria}}</td>
                <td>{{predio.cedula_catastral}}</td>
                <td>{{predio.tipo}}</td>
                <td>{{predio.direccion_predio}}</td>
                <td>{{predio.nombre_predio}}</td>
                <td>
                    <a class="btn btn-primary" href="{%url 'predio:predio_editar' pk=predio.matricula_inmobiliaria %}">Editar</a>
                    <a class="btn btn-danger" href="{%url 'predio:predio_eliminar' pk=predio.matricula_inmobiliaria  %}">Eliminar</a>
                </td>
            </tr>
            {%endfor%}
        {% else %}
            <form method="get">
                {{ filter.form.as_p }}
                <button type="submit">Search</button>
            </form>
          <ul>
              {% for predio in filter.qs %}
                <li>{{ predio.cedula_catastral}} - {{ predio.tipo }} - {{ predio.direccion_predio }} - {{ predio.nombre_predio}}</li>
              {% endfor %}
          </ul>
        {% endif %}
    </tbody>
</table>
{% endblock %}